*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    
    font-family: "Kodchasan", sans-serif;
    background-color:  #EFEEF3;
    
      
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EFEEF3;
    padding: 0.6em 0;
    
    
}

.nav_bar ul{
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav_bar a{
    text-decoration: none;
    color:#000;

}

.img img{
    width:100%;
}

.primeiro_conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.primeiro_conteudo p {
    width: 400px;
    border: 1px solid red;
}


.segundo_conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_flex2 img {
    padding: 2em;
    border: 1px solid red;
    
}


@media screen and (max-width: 500px){
    .img{
        display: none;
    }

    .cabecalho{
        flex-direction: column;
        margin-bottom: 2em;
    }

    .nav_bar ul{
        flex-direction: column;
        margin-top: 2em;
        align-items:center ;
    }

    .primeiro_conteudo{
        flex-direction: column;
        align-items: center;
    }


    .primeiro_conteudo img{
        text-align: center;
        border: 1px solid red;
    }

    .conteudo h2,
    .conteudo p{
        margin-bottom: 2em;
        margin-top: 1em;
    }

    .segundo_conteudo{
        flex-direction: column;
    }

    .img_flex2  {
       text-align: center;
       margin-top: 2em;
    }
}